@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);
$accent-blue: hsl(248, 32%, 49%);
$neutral-dark-blue: hsl(249, 10%, 26%);
$neutral-grayish-blue: hsl(246, 25%, 77%);

@mixin media-query($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  ::after {

    box-sizing: inherit;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $primary-red;
  background-repeat: repeat-y;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url('/bg-intro-mobile.png');
    background-size: cover;
    background-repeat: repeat-y;
    z-index: -1;

    @include media-query(768px) {
      background-image: url('/bg-intro-desktop.png');
    }
  }
}

#header-container {
  margin-top: 4rem;

  h1 {
    font-weight: 600;
  }
}

#hero-container {
  background-color: $accent-blue;

  #hero-btn {
    background-color: $accent-blue;
    box-shadow: 0 0.5rem 0.5rem rgba($neutral-dark-blue, 0.4);
  }
}



#form-container {
  background-color: white;
  box-shadow: 0 0.5rem 0.5rem rgba($neutral-dark-blue, 0.4);


  .form-control {
    color: $neutral-grayish-blue;
    font-weight: 500;

  }

}

#form-btn {
  background-color: $primary-green;
  border: 2px solid $primary-green;
}

#term-text {
  font-size: 0.75rem;
  color: $neutral-grayish-blue;
}



.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }

}